<% include ./partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1><span class="glyphicon glyphicon-tent"></span>Schedule Sikh Events Locally!</h1>
             <p><Strong><em>Use this site to organize sewa event, kirtan samagham, sikh activites</em></Strong></p>
         </br>
             <p class="EventSelector">
                <a class="btn btn-primary btn-large" style="width:30%;" href="/sewaEvents">Sewa Events</a>
                <a class="btn btn-primary btn-large" style="margin-left: 20px; margin-right: 20px; width:30%;" href="/kirtanEvents">Kirtan Events</a>
                <a class="btn btn-primary btn-large" style="width:30%;" href="/activityEvent/">Activity Events</a>
             </p>
         </div>
     </header>
     
     <!-- <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                   <div class="caption">
                   </div>
                   <p>
                       <a href="wwww.google.com" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
    </div> -->

    <div class="row">
            <div class="col-lg-4 col-sm-6">
              <div class="thumbnail">
                  <img src="https://s3.us-east-2.amazonaws.com/sadhsangatapp/SinghChaurSewa.jpg">
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="thumbnail">
                  <img src="https://s3.us-east-2.amazonaws.com/sadhsangatapp/SinghOnHorse.jpg">
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="thumbnail">
                <img src="https://s3.us-east-2.amazonaws.com/sadhsangatapp/SinghOnHorse.jpg">
              </div>
            </div>
    </div>
</div>