<% include ./partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1><span class="glyphicon glyphicon-tent"></span>Schedule Sikh Events Locally!</h1>
             <p><Strong><em>Use this site to organize sewa event, kirtan samagham, sikh activites</em></Strong></p>
         </br>
             <p class="EventSelector">
                <a class="btn btn-primary btn-large" style="width:30%;" href="/sewaEvents">Sewa Events</a>
                <a class="btn btn-primary btn-large" style="margin-left: 20px; margin-right: 20px; width:30%;" href="/kirtanEvents">Kirtan Events</a>
                <a class="btn btn-primary btn-large" style="width:30%;" href="/activityEvent/">Activity Events</a>
             </p>
         </div>
     </header>
     
     <!-- <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                   <div class="caption">
                   </div>
                   <p>
                       <a href="wwww.google.com" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
    </div> -->

    <div class="row">
            <div class="col-lg-4 col-sm-6">
              <div class="thumbnail">
                  <img src="https://scontent-sjc3-1.xx.fbcdn.net/v/t31.0-8/13925927_1073018312751721_6503698932238332525_o.jpg?oh=a7c294a1c5f5bbb428ddff21666dd4d6&oe=5B0B75F6">
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="thumbnail">
                  <img src="https://scontent-sjc3-1.xx.fbcdn.net/v/t31.0-8/13923610_1073019862751566_3516203526707384999_o.jpg?oh=5e861b7b2b1c6e2fa73157e1b4752fe0&oe=5B0C395D">
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="thumbnail">
                <img src="https://scontent-sjc3-1.xx.fbcdn.net/v/t31.0-8/13920456_1073003946086491_3184510986083470857_o.jpg?oh=f758e6751a788f7209dcda5a40d8fc70&oe=5B0F2AE1">
              </div>
            </div>
    </div>
</div>