<% include ../partials/header %>

<div class="ui main text container segment">
        <div class="ui huge header">New Sewa Event</div>
        <form class="ui form" action="/sewaEvents" method="POST">
            <div class="field">
                <label>Title</label>
                <input type="text" name="Sewa[sewaName]" placeholder="name" required>
            </div>
            <div class="field">
                    <label>Add details</label>
                    <textarea name="Sewa[description]" placeholder="description" required></textarea>
            </div>
            <div class="field">
                    <label for="location">Address</label>
                    <input type="text" name="Sewa[location]" id="location" placeholder="location" required>
            </div>
            <div class="field">
                    <label>Items needed</label>
                    <input type="text" name="Sewa[itemsNeeded]" placeholder="items">
            </div>
            <div class="field">
                    <label>Volunteers needed</label>
                    <input type="text" name="Sewa[VolunteerNeeded]" placeholder="headcount" required="true">
            </div>
            <div class="field">
                    <input type="checkbox" name="Sewa[PrivateEvent]"> This is a private Event</input>
            </div>
            <input type="hidden" name="Sewa[VolunteerReceived]" value="0">
            <input class="btn btn-success" style="width: 100%;" type="submit"> 
        </form>
        <a class="btn btn-danger" style="width: 100%; margin-top: 10px;" href="/sewaEvents">Cancel</a>
</div>


    <% include ../partials/footer %>  