<% include ../partials/header %>

<div class="ui main text container segment">
        <div class="ui huge header"><%= sewa.sewaName %></div>
            <div class="ui top attached">
                <div class="item">
                    <div class="content">
                    </div>
                    <div class="description">
                    <p><%= sewa.description %></p>
                    </div>
                </div>
            </div>
        <hr>
            <a class="btn btn-danger" href="/sewaEvents/VolunteerInterest">Edit</a>
            <a class="btn btn-primary" style="float: right;" href="/sewaEvents">Back</a>
    </div>


