
    <% include ../partials/header %>
    <div class="container">
            <div class="ui main text container segment">
                    <div class="ui huge header"><%= kirtan.kirtanName %></div>
                        <div class="ui top attached">
                            <div class="item">
                                <div class="content">
                                </div>
                                <div class="description">
                                <p><%= kirtan.description %></p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <a class="btn btn-danger" style="width:100px;" href="/kirtanEvents/<%= kirtan._id%>/edit">Edit</a>
                        <a class="btn btn-primary" style="float: right; width:100px;" href="/kirtanEvents">Back</a>
                </div>
                <div class="well" style="width: 62%; margin-left: 19%;">
                    <div class="text-right">
                        <a class="btn btn-success" href="/kirtanEvents/<%= kirtan._id %>">Add New Comment</a>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    
    <% include ../partials/footer %>
